[Desktop Entry]
Name=xpdf
Comment=Views Adobe PDF files
Comment[de]=PDF-Betrachter
Comment[pl]=Przeglądarka plików PDF
Comment[sv]=Visar Adobe PDF-filer
Icon=xpdf.png
Exec=xpdf
Terminal=0
Type=Application
MimeType=application/pdf
# vi: encoding=utf-8
